.container{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "dis dis dis dis"
  "AC AC divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equal"
  "zero zero dot equal"
  ;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: gray;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
}
.button:hover{
  border: 1px solid white;
  color: #cccccc;
}
.dis{
  grid-area: dis;
  background-color: black;
  text-align: right;
  font-size: 25px;

}
.dis input{
  width: 370px;
  color: white;
  text-align: right;
  margin-top: 15px;
  margin-bottom: auto;
  align-content: center;
  line-height: 30px;
  background-color: rgb(95, 67, 67);
}
.zero{
  grid-area: zero;
}
.equal{
  grid-area: equal;
}
.AC{
  grid-area: AC;
}